rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if false;
    }

    // allow user to see their campaigns stats
    match /users/{uid}/{document=**} {
      allow read: 
        if request.auth.uid == uid;
    }

    // allow authenticated user to add record in any campaign
    match /users/{uid}/campaigns/{cid}/records/{rid} {
      allow read, write: 
        if request.auth.uid == rid
        && request.resource.data.score >= 0
        && request.resource.data.score <= 2;
    }
  }
}