rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow write, list: if false;
      allow get: if true;
    }
  }
}