.mo-footer {
    padding: 38px 22px;
    display: flex;
    background-color: #f3f3f3;
    align-items: center;
    justify-content: space-between;

    &__brand {

    }

    &__links {
        display: flex;
        align-items: center;
        gap: 28px;

        &-link {
            color: #525252;
            text-decoration: none;
            @include ff;
            font-size: 16px;
            border: none;
            background-color: transparent;
            cursor: pointer;

            &:hover {
                color: #000;
            }
        }
    }
}