.mo-hero {
    margin: 48px 22px 0 22px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 48px;

    &__img {
        img {
            max-width: 100%;
            height: auto;
            border-radius: 8px;
        }
    }

    &__why {
        margin-top: 16px;

        span {
            text-transform: uppercase;
            @include ff;
            font-weight: 300;
        }

        p {
            font-size: 18px;
            line-height: 28px;
            color: #5F6368;
        }
    }

    @media screen and (max-width: 768px) {
        margin: 0;
        grid-template-columns: 1fr;
        
        &__img img {
            width: 100%;
            height: 30vw;
            border-radius: 0;
            object-fit: cover;
            object-position: bottom;
        }

        &__why {
            margin-top: 0;
            padding: 0 22px;
        }
    }
}

.mo-benefits {
    margin-top: 56px;
    padding: 0 22px;
    display: flex;
    align-items: top;
    justify-content: space-between;
    gap: 90px;

    &__title {
        margin-top: 0;
        max-width: 250px;
    }

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;

        &-item {
            display: flex;
            gap: 48px;
            margin-bottom: 26px;

            i {
                font-size: 2.1rem;
                color: #353b42;
                user-select: none;
            }

            &-text {
                h2 {
                    margin-top: 0;
                    font-size: 24px;
                    line-height: 24px;
                }
            }
        }
    }

    @media screen and (max-width: 768px) {
        display: block;

        &__title {
            max-width: 100%;
            margin-bottom: 32px;
        }
    }
}

.mo-features {
    padding: 32px 64px;
    background-color: #f3f3f3;
    border-radius: 8px;

    h1 {
        margin-bottom: 64px;
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 32px;

        &-card {
            padding: 36px;
            background-color: #fff;

            i {
                color: #000;
                font-size: 48px;
                user-select: none;
            }

            h3 {
                margin-top: 56px;
                color: #212121;
                @include ff;
                font-size: 32px;
            }

            p {
                color: #313131;
                margin-bottom: 0;
            }
        }

        @media screen and (max-width: 998px) {
            grid-template-columns: 1fr 1fr;
        }

        @media screen and (max-width: 768px) {
            grid-template-columns: 1fr;
        }
    }

    @media screen and (max-width: 1100px) {
        border-radius: 0;
    }

    @media screen and (max-width: 768px) {
        padding: 22px;
    }
}

.mo-ctabox {
    margin: 64px;
    display: grid;
    place-items: center;
}